/* src/styles/global.css */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo base para o body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Layout básico para dispositivos móveis */
.container {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

/*cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Estilos específicos para botões */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
